.toggle-theme-btn {
    position: fixed;
    top: 68px;
    right: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: #f1f1f1;
    cursor: pointer;
}
.toggle-theme-btn span {
    font-weight: 400;
    font-size: 16px;
}
.toggle-theme-btn img {
    margin-left: 15px;
    width: 30px;
}

/* Dark mode */
body.dark .toggle-theme-btn {
    background-color: #f1f1f1;
    color: #111;
}