@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(191, 191, 191);
}

/* Dark mode */
body.dark .dark-side {
  background-color: #111;
  color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 99px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.dark-side {
  font-family: Arial, Helvetica, sans-serif;
}
